@layout('pages/home')
<nav >
<a href={{route('home')}}>Home</a>

<a href={{route('movies.show',{slug:'my-favourite-movie'})}}>My Favourite Movie</a>
<a href={{route('movies.show',{slug:'another-favourite-movie'})}}>Another Favourite Movie</a>
</nav>
</nav>

{{{movie}}}


  <h1>My Favourite Movie</h1>
  <h2>The Shawshank Redemption</h2>
@end
