@layout()

<nav >
<a href={{route('home')}}>Home</a>

<a href={{route('movies.show',{slug:'my-favourite-movie'})}}>My Favourite Movie</a>
<a href={{route('movies.show',{slug:'another-favourite-movie'})}}>Another Favourite Movie</a>
</nav>

  <h1 class="text-red-500">This is the home page</h1>
@end
  