@layout('pages/home')
<nav >
<a href={{route('home')}}>Home</a>

<a href={{route('movies.show',{slug:'My-Favourite-Movie'})}}>My Favourite Movie</a>
</nav>

  <h1>My Favourite Movie</h1>
  <h2>The Shawshank Redemption</h2>
@end
